body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
background: url(http://i.imgur.com/2cOaJ.png);
background-attachment: local;
background-repeat: no-repeat;
border-color: blue;
padding-left: 50px;
padding-top: 10px;
border-color:rgb(53, 128, 185);
font-family: 'courier new';
}

label{
  color:rgb(20, 20, 20);
  font-size: 20px;
  font-family:'Helvetica';
  
}
.btn{
  width:20%;
  margin-left:40%;
  margin-right:30%;
  margin-top:1%;
  margin-bottom: 1%;
  
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:scroll
}